body {
  background-color: #fff2f2;
}
hr {
  border-color: #7286d3;
  border-style: dotted none none none; /* Aqui foi retirado o estilo das partes laterais e inferior da barra horizontal para que apenas sobrasse a parte superior. */
  border-width: 5px;
  width: 5%;
}
h1 {
  color: #8ea7e9;
}
h3 {
  color: #8ea7e9;
}
